.wp-admin-components-sensitive-text-control-container {
	display: flex;

	.wp-admin-components-input-visible-button {
		margin-left: 4px;

		.dashicons {
			margin-right: 4px;
		}
	}

	.components-text-control__input {
		min-height: 36px; // Same as button.
	}

	@media (max-width: 782px) {

		.components-text-control__input {
			min-height: 40px; // Same as button.
		}

		.wp-admin-components-input-visible-button {
			min-height: 40px; // Same as input.
		}
	}

	+ .components-base-control__help {
		color: rgb(117, 117, 117);
		font-size: 12px;
		font-style: normal;
		margin-top: 8px;
	}
}
